@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&family=Syncopate&family=Unbounded:wght@500&display=swap');

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #000000;
}

a {
  color: #fff;
}

.content { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 50%; /* Произвольная ширина, можно изменить по вашему усмотрению */
  margin: 0 auto; /* Центрирование блока по горизонтали */
}

.welcome-content {
    background-image: url("LooperGroup.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fast-name {
  color: #fff;

  margin-top: 15rem;

  text-align: center;
  text-transform: uppercase;

  font-size: 4rem;
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
}

.fast-bio {
  color: #fff;

  margin-top: 0.1rem;

  text-align: center;

  font-size: 1rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

.scroll-me {
color: #fff;

margin-top: 15rem;

text-align: center;
  
font-family: 'Manrope';
font-style: normal;
font-weight: 200;
font-size: 0.5rem;
line-height: 18px;
/* identical to box height */
letter-spacing: 0.465em;
}

/* blocks */
.one {
  text-align: left;
  margin-left: 5rem;
}

.obomne {
margin-top: 15rem;
  
font-family: 'Unbounded', cursive;
font-style: normal;
font-weight: 500;
font-size: 2.5rem;
line-height: 49px;
/* identical to box height */
letter-spacing: 0.02em;

color: #FFFFFF;
}

.ktoya {
color: #fff;
  
margin-top: 1rem;
  
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 0.95rem;
line-height: 130%;
/* or 30px */
letter-spacing: -0.005em;

}

.two {
  margin-left: 23rem;
}

.skills {
margin-top: 10rem;

  text-align: left;
  
font-family: 'Unbounded', cursive;
font-style: normal;
font-weight: 500;
font-size: 2.5rem;
line-height: 49px;
/* identical to box height */
letter-spacing: 0.02em;

color: #FFFFFF;
}

.skills-detailed {
color: #fff;
  
margin-top: 1rem;
text-align: left;
  
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 0.95rem;
line-height: 130%;
/* or 30px */
letter-spacing: -0.005em;

}

.three {
  text-align: left;
  margin-left: 5rem;
}

.tech {
margin-top: 10rem;
  
font-family: 'Unbounded', cursive;
font-style: normal;
font-weight: 500;
font-size: 2.5rem;
line-height: 49px;
/* identical to box height */
letter-spacing: 0.02em;

color: #FFFFFF;
}

.tech-detailed {
color: #fff;
  
margin-top: 1rem;
  
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 0.95rem;


}

.four {
  margin-top: 10rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.poka {
margin-top: 0rem;
    text-align: left;
  width: 50%; /* Произвольная ширина, можно изменить по вашему усмотрению */
  margin: 0 auto; /* Центрирование блока по горизонтали */

color: #fff;

font-family: 'Unbounded', cursive;
font-style: normal;
font-weight: 500;
font-size: 2.5rem;
line-height: 49px;
/* identical to box height */
letter-spacing: 0.02em;
}

.pokaka {
color: #fff;
  
margin-top: 1rem;
  
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 0.95rem;

  text-align: left;
  width: 50%; /* Произвольная ширина, можно изменить по вашему усмотрению */
  margin: 0 auto; /* Центрирование блока по горизонтали */
}

.badges {
  margin-top: 10rem;
}

.nothing-text {
 color: #fff;

    text-align: center;

  font-size: 1rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}
